body
{
  margin:0;
}
/* navbar settings */
#navbar
{
  margin:0;
  background-color:#DAE2E5;
}
#my-name
{
  font-family:'Pacifico',cursive;
  color:#000;
  font-size:2.50em;
  margin:13px 0 0 30px;
 }
#menu 
{
  list-style:none;
}
#menu li a
{
  text-decoration:none;
  margin:15px;
  font-size:1.50em;
  font-family:'Josefin Slab';
}

#menu li a:hover
{
  color:white;
  background-color:#CC5F4A;
}
#toggle-btn
{
width:40px;
top:10px;
background-color:transparent;
}
/*Jumbotron section */
#intro-me
{
  background-color:#DAE2E5;
}
.about,.work-title
{
  text-align:center;
}
.aboutme
{
  line-height:30px;
  font-family:'Roboto';
  font-size:1.35em;
  max-width:700px;
  margin:0 auto 2% auto;
}

#intro .title,.small-intro
{
   margin-left:23%;
}

 #intro .title
{
  margin-top:25%;
  letter-spacing:3px;
  color:#CC5F4A;
  font-family:'Bowlby One';
  font-size:4em;
}
.small-intro
{
  font-size:1.30em;
  font-family:'Arial';
  color:#45413D;
  margin-top:-10px;
}
#hire
{
  border-radius:25px;
  font-size:1.30em;
  float:left;
  margin:10px 0 0 23%;
  width:130px;
  font-family:'Arial';
}
#hire:hover
{
  background-color:#CC5F4A;
  color:#fff;
}
/* about me section */
.about
{
  font-family:'Lobster';
  margin:15px auto;
  background-color:white;
  padding:10px;
}
/* portfolio */

.recent-work {
  color:black;
  font-family:'Lobster';
  word-spacing:8px;
  margin:2%;
  text-align:center;
}
.portfolio
{
 padding-bottom:5%;
 background-color:#DAE2E5;
}
.portfolio .thumbnail
{
  margin:20px; 
  overflow:hidden;
}
.portfolio img {
   width:100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

}
.portfolio img:hover {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
  width:100%;
}

#card
{
  height:190px;
}
.caption
{
   background:#DAE2E5;
   text-align:center;   
}
.social-buttons
{
  margin:30px 0 0 -50px; 
  text-align:center;
  font-size:36px;
}
#view-code
{
  margin:5px;
  background-color:#fff;
  border:1px solid white;
  border-radius:15px;
  font-size:1.20em;
}
#view-code:hover
{
  background-color:#CC5F4A;
  color:#fff;
}

.fa-codepen
{
  margin-left:10px;
}
.fa-facebook
{
  margin-left:40px;
}
.color-black,#menu li a,#view-code
{
  color:black;
}
.btn
{
  margin-top:-10%;
  color:white;
  border:1px solid #852a78;
  background-color:#DAE2E5;
  width:220px;
}

#Contact
{
  background-color:#CC5F4A;
}
#contact-me
{
  color:#fff;
  text-align:center;
  font-family:'Lobster';
}
.mail-id
{
  font-size:0.60em;
  padding:15px;
  color:white;
  margin-left:5%;
 }

.fa-github
{
  margin-left:5%;
}
.fa-linkedin
{
  margin-left:40px;
}

/* for mobile screen*/
@media only screen and (max-width:480px)
{
  #intro .title
  {
  font-size:1.70em; 
  margin:-40px 0 0 37px;
  }
  #view-code span
  {
    margin-left:15px;
  }
  #img-rwd
  {
    margin:40px 0 0 20px;
    width:100%;
  }
  .small-intro
  {
    margin:8px 0 0 5px;
    font-size:1.20em;
  }
  #hire
  {
    margin:15px 0 15% 30%;
  }
  .fa-github
  {
    margin-left:16%;
  }
  .mail-id
  {
    margin-left:20%;
  }
  .recent-work
  {
    margin:8%;
  }
  .about
  {
    padding:30px;
  }
  .aboutme
  {
    margin:-30px 0 13% 8px;
    font-size:1.20em;
  }
  
}

/* for tab */
@media (max-width:900px) and (min-width:700px)
{
  #img-rwd
  {
    width:100%;
  }
  #intro .title
  {
    font-size:2em;
  }
  #intro .title,.small-intro
  {
    margin-left:30%;
  }
}
