.container
          {
              margin:30px auto;
              max-width:550px;
           }
            
.article-title
   {
       font-family:'Montserrat', sans-serif;
       color:#333333;       
   }
        
  .title
    {
         text-decoration:none;
         color:lightgray;
         font-size:1.60em;
         font-family:'Arial';
         letter-spacing:3px;
                       
    }

.title:hover
{
   color:#585858;
   text-decoration:none;
   opacity:0.9;
}

p
{
   text-align:center;
}


.content p
{
font-family:'Montserrat';
  margin-top:30px;
   text-align:justify;    
   color:#21272d;
   font-size:1em;
   word-spacing:3px;
   line-height:27px;
font-weight:600;
opacity:0.7;

  
}
.author
{ 
     color:lightgray;
    font-size:0.85em;
    text-transform:uppercase;
    font-family:'Arial';
    margin-top:20px;
}
.author-name
{
         text-decoration:none;
         color:lightgray;
}
.author-name:hover
{
color:black;
}
.written-by
{
       color:#585858;
       font-weight:bold;
}
.previous-post,.post
{
    margin-top:20px;
       color:#333333;
      font-weight:bold;
      font-size:0.75em;
     text-transform:uppercase;
}

.post
{
color:#585858;
}
.menu
{
   margin-top:30px;
  margin-left:-60px;
}
.menu li 
{ 
    display:inline; 
}
.menu li a
{
      font-size:1.20em;
      font-family:'Arial';
      color:#666666;
     margin-left:8px;
     text-decoration:none;
}
.menu li a :hover
{
    text-decoration:none;
}

.all-post a
{
    text-transform:uppercase;
    color:silver;
    opacity:0.7;
    text-decoration:none;
   font-family:'Poppins';
   font-weight:800;
   font-size:1.65em;
}
.all-post a:hover
{
     text-decoration:none;
    color:black;
}
.join
{
  margin-top:25px;
  text-align:left;
  margin-left:-15px;
  font-size:1.30em;
font-family:'Droid Sans';
font-weight:bold;
}
.join >a 
{
color:black;
}
.join>a:hover
{
   text-decoration:none;
   color:silver;
}

.date-post,.previous-post,.next-post
{
   font-family:'Poppins';
  font-size:0.90em;
 text-align:left;
  color:#333333;
opacity:0.7;
word-spacing:5px;
text-transform:uppercase;
}

.previous-post > a,.next-post>a
{
      color:black;
      word-spacing:5px;
      
}

.previous-post > a:hover,.next-post > a:hover
{
      color:gray;
      text-decoration:none;
}
